{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

</head>
<header>
 <section class="header-section">
     <h2 class="main-title">Wise Wallet</h2>
     <p class="balance">Your Balance: 100.00</p>
     <img src="{% static 'icons/dollar.png' %}" alt="dollar" width = "30" height="30" class="menu-icon">
 </section>
</header>
<body>

</body>
</html>