{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

</head>
<header>
 <section class="header-section">
     <h2 class="greeting-title">Вітаємо, Нік</h2>
     <p class="balance">Твій баланс: 100.00</p>
     <img src="{% static 'icons/dollar.png' %}" alt="dollar" width = "30" height="30" class="menu-icon">
 </section>
</header>
<body>
 <section class="hero-section">
     <h2 class="hero-title">Ну що, фінансовий ніндзя, в бій? 🥷💰</h2>
     <ul class="hero-list">
         <li class="hero-li">
             <img src="{% static 'icons/pig_money.png' %}" alt="" width="150" height="150">
             <h3>Планування бюджету</h3> <br>
             <p class="undertext-hero">Фінансовий спокій починається з одного простого плану</p>

         </li>
         <li class="hero-li">
             <img src="{% static 'icons/money_analysis.png' %}" alt=""  width="150" height="150">
             <h3>Детальний аналіз витрат</h3>
             <p class="undertext-hero">Твої гроші теж люблять увагу — і дякують за неї стабільністю</p>
         </li>

         <li class="hero-li">
             <img src="{% static 'icons/achieve.png' %}" alt="" width="200" height="150">
             <h3>Твої маленькі перемоги</h3>
             <p class="undertext-hero">З маленьких перемог починається велика впевненість</p>
         </li>
         <li class="hero-li">
             <img src="{% static 'icons/cat.png' %}" alt="" width="150" height="150">
             <h3>Твій персональник котик</h3>
             <p class="undertext-hero">Твій маленький котик чекає на тебе — наводь фінансовий мур-мур-порядок разом із ним! </p>
         </li>
     </ul>

 </section>
<section class="footer-section">
<footer>
    <ul class="footer-list">
        <li class="footer-li" onclick="location.href={% url 'home' %}">

            <img src="{% static 'icons/profile.png' %}" alt="" width="50" height="50"   >
            <button type="button" class="button_footer">Головна</button></li>
        <li class="footer-li"  onclick="location.href={% url 'market' %}" >
             <img src="{% static 'icons/market.png' %}" alt="" width="50" height="50"   >

            <button type="button" class="button_footer">Ринок</button></li>
        <li class="footer-li"  onclick="location.href={% url 'settings' %}">
             <img src="{% static 'icons/settings.png' %}" alt="" width="50" height="50"   >
            <button type="button" class="button_footer">Налаштування</button></li>
    </ul>
</footer>
</section>

</body>
</html>